<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  thread-count="5" parallel="classes" name="Suite" verbose="5">
  <test  name="Test">
    <classes>
      <class name="week4.day2.EditLead"/>
      <class name="week4.day2.CreateLead"/>
      <class name="week4.day2.DuplicateLead"/>
      <class name="week4.day2.DeleteLead"/>
      <class name="week4.day2.CreateLead2"/>
      <class name="week4.day2.EditLead2"/>


    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
